<div class="container" id="container">
        <div class="jumbotron" id="header">
            <h1 id="eat"><strong>Dinner Time!</strong></h1>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <form class="create-update-form" action="/burgers" method="POST">

                    <div class="form-group" id="add">
                        <h3 class="title"> Add your burger name here:</h3>
                        <br>
                        <textarea id="box" class="form-control input-lg" type="text" name="b_name" rows="3"></textarea>
                    </div>
                    <button type="submit" id="order" class="bt btn-default btn-lg">Order Up!</button>
                </form>
            </div>
        </div>
        <div>
  